<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/tourio</property>
        <property name="connection.username">tourio</property>
        <property name="connection.password">tourio</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Show all executed SQL to console -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.physical_naming_strategy">com.tourio.utils.CustomPhysicalNamingStrategy</property>
        
        <!-- Entity mapping -->
        <mapping class="com.tourio.models.CostType"/>
        <mapping class="com.tourio.models.Customer"/>
        <mapping class="com.tourio.models.Employee"/>
        <mapping class="com.tourio.models.Group"/>
        <mapping class="com.tourio.models.GroupCostRel"/>
        <mapping class="com.tourio.models.GroupEmployeeRel"/>
        <mapping class="com.tourio.models.GroupEmployeeRelID"/>
        <mapping class="com.tourio.models.Job"/>
        <mapping class="com.tourio.models.Location"/>
        <mapping class="com.tourio.models.Tour"/>
        <mapping class="com.tourio.models.TourLocationRel"/>
        <mapping class="com.tourio.models.TourLocationRelID"/>
        <mapping class="com.tourio.models.TourPrice"/>
        <mapping class="com.tourio.models.TourType"/>
    </session-factory>
</hibernate-configuration>