* {
   -primary-color: #5664D2;
   -primary-color-alpha-50: rgba(86, 100, 210, 0.5);
   -primary-color-alpha-08: rgba(96, 100, 210, 0.08);
   -primary-darker-color: #3241BB;
   -secondary-color: #333645;
   -secondary-darker-color: #21222C;
   -danger-color: #FE6D6A;
   -danger-darker-color: #FE2722;
}

.button {
    -fx-cursor: hand;
    -fx-min-width: 60;
}

.menu {
    -fx-background-color: -secondary-color;
    -fx-padding: 0;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-padding: 4 8 4 16;
    -fx-background-radius: 999 0 0 999;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: -secondary-darker-color;
}

.menu-button.active {
    -fx-background-color: white;
    -fx-text-fill: -primary-color;
}

.action-button {
    -fx-background-radius: 3;
}

.primary-button {
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: -primary-darker-color;

}

.danger-button {
    -fx-background-color: -danger-color;
    -fx-text-fill: white;
}

.danger-button:hover {
    -fx-background-color: -danger-darker-color;
}

.primary-outlined-button {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-color;
    -fx-background-radius: 0;
    -fx-border-radius: 3;
    -fx-border-color: -primary-color-alpha-50;
}

.primary-outlined-button:hover {
    -fx-background-color: -primary-color-alpha-08;
    -fx-border-color: -primary-color;
}

.form-group {
    -fx-spacing: 4;
}

.table-action-buttons {
    -fx-spacing: 12;
}